*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: url(image/ghibli6.png) fixed no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-right: 500px;
    margin-left: 500px;
    font-size: medium;
    border-radius: 15px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.6265099789915967) 0%, rgba(128,75,36,0.6181066176470589) 35%, rgba(0,212,255,0.8842130602240896) 100%);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
   margin-top: 450px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.6265099789915967) 0%, rgba(128,75,36,0.6181066176470589) 35%, rgba(0,212,255,0.8842130602240896) 100%);
}


.connexion {
        color: #0dcae2;
        font-size: 0,5em;
        text-shadow: 2px 2px 8px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

form {
    margin-top: 40px;
}

.btn {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    display: flex;
    align-items: center;

}

.arrow {
    display: flex;
    align-items: center ;
    background: black;
    height: 0.1em;
    width: 1.5em;
    margin-right: 1em;
    position: relative;
    transition: all 0.2s;
}

.arrow::before,
.arrow::after {
    position: absolute;
    content: "";
    background: black;
    height: 0.1em;
    width: 0.6em;
    right: 0;
    top: 0;
}
.arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}
.arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}
.btn:hover .arrow {
    width: 5em;
}
